
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 29px;
    background: #191C21;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: calc(260px + (460 - 250) * ((100vw - 320px) / (1600 - 320)));
    min-width: 0;
}

.product__title {
    text-align: start;
    font-weight: bold;
    color: white;
}

.product__price {
    font-weight: bold;
    color: #ADBAD7;
}

.product__category {
    color: white;
    font-size: 15px;
}

.product__desc {
    margin: 0;
    color: white;
}

.inner__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    max-height: 270px;
}

.product__img {
    border-radius: 5px;
}

.product__descriptionc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 0;
    font-size: 10px;
    font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
}


