.categories-container {
    margin-top: 100px;
    padding: 0;
    text-align: center;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 30px;
}

.category-box {
    background-color: #191C21;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s;
    cursor: pointer;
}

.category-box:hover {
    transform: scale(1.05);
}

.category-box h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #ADBAD7;
}


.CategoriesHeader {
    background-color: #F9F9F9;
    padding: 29px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
}

.CategoriesHeader.dark {
    background-color: #1A1A1A;
    color: #fff;
}
