.DetailViewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__title {
    font-weight: bold;
    font-size: 18px;
}

.product__price {
    font-size: 18px;
    font-weight: bold;
}



.DetailViewHeader {
    background-color: #F9F9F9;
    padding: 29px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.arrowd {
    position: absolute;
    left: 20px;
    top: 30px;
}

.DetailViewMain {
    display: flex;
    height: fit-content;
    justify-content: center;
    margin: auto;
}


.ProductImage {
    width: 100vw;
    margin: auto;
}

.about__product {
    font-weight: bold;
    font-size: 16px;
    color: #C1C2C7;
    opacity: 85%;
}

.product__description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}

h3 {
    color: #252B42;
}

.DetailViewFooter {
    display: flex;
    justify-content: center;
}


.ProfileView__title {
    margin: auto;
}
.call__btn {
    transform: translateY(370%);
}

@media screen and (min-width: 768px) {
    .call__btn {
        display: none;
    }
    .DetailViewMainWrapper {
        justify-content: center;
        height: fit-content;
        padding: 15px;
    }

    .DetailViewMain {
        justify-content: center;
    }
    .product__description {
        width: 300px;
    }
}


.inner__wrapper {
    color: #000000;
}



.DetailViewHeader.dark {
    background-color: #121214;
}

.h3.dark {
    color: #FFFFFF;
}
