.EditAdvertHeader {
    background-color: #F9F9F9;
    padding: 29px;
    display: flex;
    
}

.EditAdvertHeader.dark {
    background-color: #191C21;
}

.EditAdvertMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}


.InputFieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60vh;
    width: 90vw;
    align-items: center;
}

.EditAdverth3 {
    color: black;
}

.EditAdverth3.dark {
    color: #FFFFFF;
}


.arrow {
    width: 14px;
    position: static;
}

.selected-image {
    width: 50px;
    height: 50px;
}

.ProfileView__title {
    margin: auto;
}

.add-pic {
    border-radius: 50%;
}




@media screen and (min-width: 768px) {
    .save__info__edit-profile {
        width: 550px;
        margin-top: 10px;
    }
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* When the toggle is checked */
input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}