.input__field-wrapper.dark {
    background-color: #121214;
    border: 1px solid #C1C2C7;
    color:  #FFFFFF;
    width: 300px;
    padding: 15px;
    outline: none;
    border-radius: 10px;
}

.input__field-wrapper {
    background-color: #ffffff;
    color: #121214;
}

@media screen and (min-width: 768px){
    .input__field-wrapper {
        width: 500px;
    }
    
}

