html, body {
    height: 100%;
}

._wrapper {
    min-width: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    width: 100vw;
    align-items: center;
}

.header.dark {
    background-color: #121214;
}

._wrapper.dark {
    background-color: #1A1A1A;
    color: #FFFFFF;
}

.searchbar__wrapper {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.searchbar__wrapper.dark {
    background-color: #121214;
    border: 1px solid #C1C2C7;
    color:  #FFFFFF;
}

.search__input {
    border: none;
    width: 70%;
}

.search__input.dark {
    background-color: #121214;
    color: #FFFFFF;
    opacity: 70%;
}

.search__input:focus-visible {
    outline: none;
}

.search__icon {
    width: 20px;
}


.sort-icons {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.sort-icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.burger__btn {
    background: transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
}

.burger__btn.dark {
    background: transparent;
}

.burger__img {
    width: 35px;
    height: 35px;
}

.main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 100vw;
}

.main.dark {
    background-color: #121214;
}

.sortbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 12px 15px 12px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortbar.dark {
    background: #1A1A1A;
    color: #FFFFFF;
}

.sort__info {
    font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 13.3px rgba(0, 0, 0, 0.25);
    border-radius: 74px;
    height: 50px;
}

.footer.dark {
    background: #1A1A1A;
}

.footer__item {
    width: 25px;
}

.ListX {
    color: #4582DD;
    text-align: center;
    font-size: calc(25px + (100 - 25) * ((100vw - 320px) / (1600 - 320)));
}

.sort__menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100;
    display: flex;
    flex-direction: column;
    right: 8%;
}

.sort__menu button {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sort__menu button:hover {
    background-color: #f0f0f0;
}

.sidebar {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 90vw; 
    height: 100%; 
    background-color: #fff; 
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 300; 
    padding: 20px; 
    overflow-y: auto;
    transition: transform 0.3s ease; 
}

.sidebar.dark {
    background-color: #121214; 
    color: #FFFFFF; 
}

.sidebar-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 20px; 
}

.close-button {
    background: none; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 
    color: #ffffff;
    position: absolute;
    right: 20px;
    width: 30px;
}

.sidebar-header h2 {
    margin: 0; 
    color: #4582DD; /* Title color */
    font-size: 24px; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin-top: 80px;
}

.sidebar li {
    margin: 15px;
    padding: 15px 15px; 
    transition: background-color 0.3s; 
    cursor: pointer; 
}


@media screen and (min-width: 768px){
    .card__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 90vw;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: auto;
    }

    .sidebar {
        width: 50%;
    }

}
