.SignInHeader {
    background-color: #F9F9F9;
    padding: 29px;
    display: flex;
}

.SignInHeader.dark {
    background-color: #121214;
    color: #fff;
}

.SignInMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
    background-color: #fff;
}

.SignInMain.dark {
    background-color: #121214;
    color: #fff;
}

.SignInH3 {
    color: #121214;
}

.SignInH3.dark {
    color: #fff;
}

.error-message {
    color: red;
    margin-top: 1rem;
    font-size: 14px;
}

#gray {
    color: gray;
    text-decoration: none;
}

.InputFieldWrapper {
    padding-top: 50px;
    gap: 25px;
}